<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TestApp.Properties.Settings>
            <setting name="PHPWebservice" serializeAs="String">
                <value>http://PVCELEN7040TEST/ELEN7040/phptest/api/</value>
            </setting>
            <setting name="CSharpWebService" serializeAs="String">
                <value>http://PVCELEN7040TEST/ELEN7040/csharptest/api/Home/</value>
            </setting>
            <setting name="SmallLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BigLimit" serializeAs="String">
                <value>1000000000</value>
            </setting>
        </TestApp.Properties.Settings>
    </userSettings>
</configuration>